* {
    box-sizing: border-box;
}

body {
    width: 512px;
    margin-block: unset;
    margin-inline: auto;
}

div {
    font-weight: bold;
}

.frame a {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

    padding: 3px;

    color: darkred;
    border-color: black;
}

p {
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}