* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: larger;

    width: fit-content;

    color: white;
}

ul {
    display: flex;
    flex-wrap: wrap;

    padding: 0px;
}

li {
    list-style-type: none;

    margin: 2px;
    padding-inline: 25px;   
    padding-block: 15px;

    background-color: tomato;
}